/RubeGoldberg/nbproject/private/
/RubeGoldberg/build/
/rudeGoldberg/nbproject/private/
/rudeGoldberg/build/

!*.obj
*.~docx
~$*.docx
/rube-goldberg/nbproject/private/
/rube-goldberg/build/
/rube-goldberg/dist/
/RubeGoldbergSimulation/nbproject/private/
/RubeGoldbergSimulation/build/

./assets/
assets/